# ignore everything
*

# except:
!.gitignore
!.gitconfig
!.gitmodules
!.curlrc
!.irbrc
!.oh-my-zsh
!.pythonrc.py
!.vimrc
!.vim/bundle/vundle
!.vim/UltiSnips
!.zshrc
!.zsh
!.zsh/plugins/zsh-completions
