snippet today 
`date +%Y`/`date +%m`/`date +%d`
endsnippet

snippet random 
`#!/usr/bin/perl
use LWP::Simple qw(get);
my $page = get "http://www.random.org/integers/?num=1&min=1&max=10000&col=1&base=10&format=plain&rnd=new";
print $page`
endsnippet

snippet pwgen
`pwgen --capitalize --numerals --symbols --secure -1 80`
endsnippet
